.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-flow: column ;
    border-left: 5px solid black;
    width: 600px;
    gap: 30px; 
    height: 400px;
   
}
.flex-item{
    padding: 1px;
    height: 20px;
    border: 1px #000 dashed;
    color: rgb(43, 255, 0);

}

.flex-item:nth-child(1){
    background: blue;
    width: 40px;
    height: 20px;
    
}
.flex-item:nth-child(2){
    background: rgb(255, 8, 0);
    width: 150px; 
    height: 20px;
}
.flex-item:nth-child(3){
    background: rgb(255, 0, 200);
    width: 270px;
}
.flex-item:nth-child(4){
    background: blue;
    width: 320px;
    height: 20px;
}
.flex-item:nth-child(5){
    background: rgba(255, 0, 140, 0.486);
    width: 380px; 
    height: 20px;
}
.flex-item:nth-child(6){
    background: rgb(255, 8, 0);
    width: 450px; 
    height: 20px;
}
.flex-item:nth-child(7){
    background: rgb(255, 0, 200);
    width: 480px; 
    height: 20px;
}
